.burger {
    width: 24px;
    height: 24px;
}

.header__burger-close {
    fill: black;
}
@media (width > 822px) {
    .burger {
        display: none;
    }
}


@media (width <= 822px) {
    .header__burger {
        margin-right: 16px;
    }
    .header__burger-icon,
    .burger--open .header__burger-close {
        display: block;
    }

    .header__burger-close,
    .burger--open .header__burger-icon {
        display: none;
    }
}