
.discount__container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;               
    background-color: #000;
    color: var(--second-color);
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;         
}

.page__discount-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.page__discount-link {
    text-decoration: underline;
    color: var(--second-color);
}

.page__discount-btn {
    margin-right: clamp(10px, -71.43px + 11.90vw, 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (width <= 768px) {
    .page__discount-text {
        display: none;
    }
}

