
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}
@media (width > 822px) {
    .header__container {
        gap: 40px;
    }
}


.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.header__logo {
    width: clamp(126px, 149.33px + 2.95vw, 160px);
}


.header__list-link {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

@media (width <= 822px) {
    .header__nav {
        /* display: none; */
        position: relative;
        position: fixed;
        top: 0;
        left: -100vh;
        bottom: 0;
        min-width: 297px;
        z-index: 1000;
        padding-top: 144px;
        padding-left: 15px;
        background-color: var(--bg-color);
        opacity: 0;
        visibility: hidden;
        transition: left var(--transition-time), visibility var(--transition-time), opacity var(--transition-time);
    }

    .header__nav--open {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    .header__nav .header__list {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    .header__search {
        flex-grow: 1;
        text-align: end;
        margin-right: 15px;
    }
    .header__search-input {
        display: none;
    }

    .header__search-icon {
        fill: black !important;
        width: 21px;
        height: 21px;
        
    }

}

@media (width > 822px) {
    .header__search {
        position: relative;
            /* 768px - 1920px */
        width: clamp(260px, 182.67px + 17.36vw, 468px);
    }
    .header__search-icon {
        position: absolute;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        fill: #999;
        left: 15px;
        top: 50%;
    }
    .header__search-input {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 62px;
        padding: 12px 16px 12px 40px;
        background-color: var(--bg-color-second);
    }
}


.header__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;

}