:root {
   /* font-family */
    --font-family: "Satoshi", sans-serif;
    --second-family: "Integral CF Bold", sans-serif;
    --third-family: "Integral CF heavy", sans-serif;

    /*color*/
    --main-color: #000;
    --second-color: #fff;
    --main-bg-color: #F2F0F1;
    --bg-color: #f0eeed;
    --bg-color-second: #f0f0f0;
    --color-opaciity: rgba(0, 0, 0, 0.6);

    --container-width: 1440px;
    --container-padding: 15px;


    --transition-time: 0.3s;
    --transform: scale(1.1);

    /* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
    


}
